@using Habitat.Framework.SitecoreExtensions.Repositories
@model Habitat.Search.Models.SearchSettings

<form role="search" action="@Model.SearchResultsUrl" method="GET">
  <div class="form-group has-feedback">
    <input type="text" name="query" placeholder="@Model.SearchBoxTitle" value="@Model.Query" class="form-control" autocomplete="off">
    <i class="icon-search form-control-feedback"></i>
  </div>
  <button class="btn btn-primary" type="submit">@DictionaryRepository.Get("/search/facets/search", "Search")</button>
</form>
  