@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@*TODO: Page editor mode*@
@{
  const int thumbnailWidth = 750;
  var thumbnail = Html.Sitecore().ImageField(Templates.HasMedia.Fields.Thumbnail.ToString(), @Model.Item, mw: thumbnailWidth, cssClass: "img-responsive");
  if (thumbnail == null || string.IsNullOrWhiteSpace(thumbnail.ToString()))
  {
    return;
  }
}

<div class="lightbox overlay-container">
  @thumbnail
  <a class="overlay-link popup-iframe" href="@Model.Item.LinkFieldUrl(Templates.HasMediaVideo.Fields.VideoLink)" title="@Model.Item[Templates.HasMedia.Fields.Title]">
    <i class="fa fa-play"></i>
  </a>
</div>