@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@*TODO: Page editor mode*@
@{
  const int ThumbnailWidth = 750;
  var thumbnail = Html.Sitecore().ImageField(Templates.HasMedia.Fields.Thumbnail.ToString(), @Model.Item, mw: ThumbnailWidth, cssClass: "img-responsive");
  if (string.IsNullOrWhiteSpace(thumbnail?.ToString()))
  {
    thumbnail = Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image.ToString(), @Model.Item, mw: ThumbnailWidth, cssClass: "img-responsive");
  }
  if (string.IsNullOrWhiteSpace(thumbnail?.ToString()))
  {
    return;
  }
}

<div class="lightbox overlay-container">
  @thumbnail
  <a href="@Model.Item.ImageUrl(Templates.HasMediaImage.Fields.Image)" class="overlay-link popup-img" title="@Model.Item[Templates.HasMedia.Fields.Title]">
    <i class="fa fa-plus"></i>
  </a>
</div>