@using Habitat.Navigation
@model Habitat.Navigation.Models.NavigationItem
@{
  if (Model?.Children == null)
  {
    return;
  }
}

<div class="block clearfix">
  <h3 class="title">
    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle.ToString(), Model.Item)
  </h3>
  <div class="separator-2"></div>
  <nav>
    @Html.Partial("_SecondaryMenuItems", Model.Children)
  </nav>
</div>
