@using Habitat.Language.Infrastructure.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel

@{
  var activeLanguage = LanguageRepository.GetActive();
  var languages = LanguageRepository.GetAll().ToArray();
}
<div class="btn-group dropdown">
  <button type="button" class="btn dropdown-toggle @(languages.Length > 1 ? "" : "disabled")" data-toggle="dropdown"><i class="glyphicon glyphicon-flag"></i></button>
  <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
    @foreach (var language in languages)
    {
      <li>
        <a href="@language.Url">@language.Name<i class="icon-check"></i></a>
      </li>
    }
  </ul>
</div>
