<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <mvc.getPageRendering>
        <processor type="Habitat.Framework.Assets.Pipelines.GetPageRendering.AddAssets, Habitat.Framework.Assets">
          <defaultAssets hint="raw:AddAsset">

            <asset type="Css" file="/content/bootstrap-theme.min.css">
              <patch:delete />
            </asset>

            <!-- Web Fonts -->
            <asset type="Css" file="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic"/>
            <asset type="Css" file="http://fonts.googleapis.com/css?family=Raleway:700,400,300"/>
            <asset type="Css" file="http://fonts.googleapis.com/css?family=Pacifico"/>
            <asset type="Css" file="http://fonts.googleapis.com/css?family=PT+Serif"/>
            <!-- Font Awesome CSS -->
            <asset type="Css" file="/fonts/font-awesome/css/font-awesome.css"/>
            <!-- Fontello CSS -->
            <asset type="Css" file="/fonts/fontello/css/fontello.css"/>
            <!-- Plugins -->
            <asset type="Css" file="/plugins/magnific-popup/magnific-popup.css"/>
            <asset type="Css" file="/plugins/rs-plugin/css/settings.css"/>
            <asset type="Css" file="/css/animations.css"/>
            <asset type="Css" file="/plugins/owl-carousel/owl.carousel.css"/>
            <asset type="Css" file="/plugins/owl-carousel/owl.transitions.css"/>
            <asset type="Css" file="/plugins/hover/hover-min.css"/>
            <!-- the project core CSS file -->
            <asset type="Css" file="/css/style.css"/>
            <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
            <asset type="Css" file="/css/skins/light_blue.css"/>
            <!-- Custom css -->
            <asset type="Css" file="/css/custom.css"/>

            <!-- Modernizr javascript -->
            <asset type="JavaScript" file="/plugins/modernizr.js" location="Body" />
            <!-- jQuery Revolution Slider  -->
            <asset type="JavaScript" file="/plugins/rs-plugin/js/jquery.themepunch.tools.min.js" location="Body" />
            <asset type="JavaScript" file="/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js" location="Body" />
            <!-- Isotope javascript -->
            <asset type="JavaScript" file="/plugins/isotope/isotope.pkgd.min.js" location="Body" />
            <!-- Magnific Popup javascript -->
            <asset type="JavaScript" file="/plugins/magnific-popup/jquery.magnific-popup.min.js" location="Body" />
            <!-- Appear javascript -->
            <asset type="JavaScript" file="/plugins/waypoints/jquery.waypoints.min.js" location="Body" />
            <!-- Count To javascript -->
            <asset type="JavaScript" file="/plugins/jquery.countTo.js" location="Body" />
            <!-- Parallax javascript -->
            <asset type="JavaScript" file="/plugins/jquery.parallax-1.1.3.js" location="Body" />
            <!-- Contact form -->
            <asset type="JavaScript" file="/plugins/jquery.validate.js" location="Body" />
            <!-- Background Video -->
            <asset type="JavaScript" file="/plugins/vide/jquery.vide.js" location="Body" />
            <!-- Owl carousel javascript -->
            <asset type="JavaScript" file="/plugins/owl-carousel/owl.carousel.js" location="Body" />
            <!-- SmoothScroll javascript -->
            <asset type="JavaScript" file="/plugins/jquery.browser.js" location="Body" />
            <asset type="JavaScript" file="/plugins/SmoothScroll.js" location="Body" />
            <!-- Initialization of Plugins -->
            <asset type="JavaScript" file="/js/template.js" location="Body" />
            <!-- Custom Scripts -->
            <asset type="JavaScript" file="/js/custom.js" location="Body" />
          </defaultAssets>
        </processor>
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>