@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Identity
@using Habitat.Identity.Repositories
@model Sitecore.Mvc.Presentation.RenderingModel

@{
  var identity = IdentityRepository.Get(Model.Item);
  if (identity == null)
  {
    return;
  }
}
<div id="logo" class="logo">
  <a href="/">
    @Html.Sitecore().ImageField(Templates.Identity.Fields.Logo.ToString(), identity, 20)    
  </a>
</div>
<!-- name-and-slogan -->
<div class="site-slogan">
  [HARDCODED TEXT]
</div>
